<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Link Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style_valid.css') }}">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</head>
<body>

  <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExdG0zOXR5djF6bzIzNThodzBicXN6eDhpejV0MDUxbXRoMHJ1MDI3ayZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/j9OQxgM2DS3rBn8hhB/giphy.gif" 
       alt="Happy Face" class="happy-gif">

  <div class="box top-box">
    <h2>Your IP Info</h2>
    <p>IP: {{ ip }} | Country: {{ country }}</p>
  </div>

  <div class="box bottom-box">
    <h3>Here are your code:</h3>

{% for url in pastebin_url.split(',') %}
<div class="code-box" onclick="copyDivContent(this)">
  {{ url.strip() }}
</div>
{% endfor %}

    <div class="instructions">
      <h4>How to use our Telegram Bot:</h4>
      <ol>
        <li>Go to <a href="https://t.me/hyperhusltebot" target="_blank">@HyperHustleBot</a></li>
        <li>Start the bot and tap 🔑 Get Link</li>
        <li>Paste the code and you will Get Your Links</li>
       
      </ol>
    </div>
  </div>

<!-- Toast Notification -->
<div id="toast" class="toast">
  <i class="fas fa-clipboard"></i> Copied to clipboard!
</div>
<script>
function copyDivContent(div) {
  // Copy only the URL text
  const text = div.textContent.trim();
  navigator.clipboard.writeText(text).then(() => {
    showToast();
  });
}

function showToast() {
  const toast = document.getElementById("toast");
  toast.classList.add("show");
  setTimeout(() => {
    toast.classList.remove("show");
  }, 2000); // Toast visible for 2 seconds
}
</script>

<!-- Include FontAwesome for clipboard icon -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</body>
</html>
